
@{
    ViewBag.Title = "CashierMenu";
}

<h2>Cashier Dashboard</h2>
<hr/>
<ul>
    <li>@Html.ActionLink("Make Appointment", "AppointmentMenu", "Appointment")</li>
    <li>@Html.ActionLink("Pay Appointment Bill", "PayAppointmentBill", "Appointment")</li>
    <li>@Html.ActionLink("Pay Prescription Charges", "PayPrescriptionCharges", "Prescription")</li>
</ul>

