
@{
    ViewBag.Title = "MedicalSuperintendentMenu";
}

<h2>Medical Superintendent Dashboard</h2>
<hr/>

<ul>
    <li>@Html.ActionLink("View Patient Report", "PatientReport", "Report")</li>
    <li>@Html.ActionLink("View Doctor Report", "DoctorReport", "Report")</li>
    <li>@Html.ActionLink("View Yearly Turnover Report", "YearlyTurnOverReport", "Report")</li>
</ul>

