@model PIMS.Models.ViewModels.TurnOverViewModel
@{
    ViewBag.Title = "YearlyTurnOverReport";
}

<h2>Yearly Turnover Graph</h2>
<hr/>

@foreach(var item in Model.DataList)
{
    <h4>Year : @item.Date.Year</h4>
    <p>Profit : @item.TurnOver</p>
    <br/>
}


